/*
-----------------------------------------------
mi2a Styles
http://blueprintcss.org

Author:   redy
Date:     3 Apr 2011
----------------------------------------------- */
/* STYLES: =Reset
"Reset" all the default browser styling, which can help make it easier to achieve cross-browser compatibility.
----------------------------------------------- */
@import "reset.css";

/* STYLES: =Grid
"Grid" system for contents layout.
----------------------------------------------- */
@import "grid.css";

/* STYLES: =Typography
"Typography" styles for typeface, also include links in articles.
----------------------------------------------- */
@import "typography.css";

/* STYLES: =Forms
"Forms" styles.
----------------------------------------------- */
@import "forms.css";

/* STYLES: =Modules
"Modules" styles.
----------------------------------------------- */
@import "modules.css";

/* STYLES: =Base
"Base" styles for basic elements in the website, ect. Header, Footer, Navigation
----------------------------------------------- */
@import url("base.css");

