/*
-----------------------------------------------
mi2a Styles

Style:    Typography
Author:   redy
Date:     3 Apr 2011
----------------------------------------------- */

/* MISC: =Body
----------------------------------------------- */
body
{
	font-size:9pt;
	font-family: "DIN Black","Helvetica Neue", Helvetica, Arial, sans-serif, Verdana, STHeiTi, Microsoft YaHei, SimSun, PMingliu, dfkai-sb;
	color: #333;
}

/* MISC: =Titles
----------------------------------------------- */
h1{
	line-height:20pt;
	font-size:20pt;
}
h2{
	padding-bottom:5px;
	line-height:16pt;
	font-size:14pt;
	color:#c00;
	text-transform: uppercase;
}

h3{
	line-height:16pt;
	font-size:14pt;
	padding:10px 0;
	color:#333;
}

h4{
	line-height:12pt;
	font-size:11pt;
	font-weight:700;
	text-transform: uppercase;
	color:#333;
	padding:10px 0 0 0;
}
h5{
	line-height:12pt;
	font-size:9pt;
	font-weight:300;
	text-transform: uppercase;
	color:#666;
	padding:10px 0 0 0;
}

/* MISC: =Paragraph
----------------------------------------------- */
p{
	padding:0 0 10px 10px;
	font-size: 9pt;
	line-height:14pt;
	color: #333;
}
li p{
	padding:0 0 5px 0;
}
.note{
	color:#999;
}

small{
	color:#fa0;
}
.hl{
	color:#c00;
}
.answer{
	display:none;
}

/* MISC: =List
----------------------------------------------- */
ul{
	margin:10px 25px;
}
ul li{
	margin:5px 0;
}
ul.paralist{
	margin:10px 10px;
	list-style:none;
}
ul.gallery li{
	margin:5px;
	list-style:none;
	float:left;
}

ul.gallery li a, ul gallery li a:link, ul gallery li a:visited{
	display:block;
	width:80px;
	border:1px solid #aaa;
	background:none;
}
ul.gallery li a:hover{
	border:1px solid #c00;
	background:none;
}
/* MISC: =Links
----------------------------------------------- */
a {text-decoration: underline; color:#c00;}
a:link {text-decoration: underline; color:#c00;}
a:visited {text-decoration:underline; color:#c00;}
a:hover {text-decoration: none; color:#fff;background:#c00;}


/* MISC: =Tables
----------------------------------------------- */
table{
	font-size:9pt;
	text-align: left;
	color:#444;
}

table th{
	padding:5px 15px 5px 0;
	font-size:8pt;
}
table td{
	padding:5px 15px 0 0;
	font-size:8pt;
	line-height:12pt;
	vertical-align: top;
}
table a,table a:link,table a:visited {	
	font-size:8pt;
	line-height:12pt;
	text-decoration: underline;
}
